@charset "utf-8";

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:cadetblue;
}

header {
    width: 100%;
    border-top: 1px solid black;
}

body{
    background-color: aliceblue;
    margin: 0px auto;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

article {
    margin: 40px auto;
    width: 85%;
}

h2 {
    text-align: center;
}

*{
    box-sizing: border-box;
}

table {
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    margin-bottom: 77px;
}

table th, table td {
    border: 2px solid black;
}

footer {
    text-align: center;
    border-top: 3px solid brown;
}