@charset "utf-8";

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:cadetblue;
}

header {
    width: 100%;
    border-top: 1px solid black;
    background-color: rgb(253, 119, 101);
}

body{
    background-color: aliceblue;
    margin: 0px auto;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


nav ul li {
    display: table-cell;
    width: 9.5%;
    text-align: center;
    border: thin solid;
    background-color:rgb(255, 153, 140);
    font-size: larger;
}

article a {
    float: right;
    display: inline-block;
    font-size: 20px;
}

article a:hover {
    background-color: #ddd;
    color: black;
}

.next {
    background-color: #04aa6d;
    color: white;
}

.round {
    border-radius: 50%;
}

article {
    margin: 40px auto;
    width: 85%;
}



h2 {
    text-align: center;
}

*{
    box-sizing: border-box;
}

table {
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    margin-bottom: 77px;
}

table th, table td {
    border: 2px solid black;
}





footer {
    text-align: center;
    border-top: 3px solid brown;
}